.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.header--title {
    font-size: 30px;
    margin-right: auto;
}

.header--project {
    font-size: 15px;
    font-weight: 500;
}